<!DOCTYPE html>
<html>

  <head>
    <title>Big Brother - Disco</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles.css">

  </head>
  <body class="align-items-center">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="../index.html"> Have you seen? </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="disco.html"><img src="../image/icon_disco.png" alt=""> Disco</a></li>
          <li class="nav-item">
            <a class="nav-link" href="bobo.html"><img src="../image/icon_Bobo.jpg" alt=""> Bobo</a></li>
          <li class="nav-item">
            <a class="nav-link" href="little_p.html"><img src="../image/icon_p.png" alt=""> p</a></li>
          <li class="nav-item">
            <a class="nav-link" href="../index.html"> <span>  Home</span></a></li>
        </ul>
      </div>
    </nav>
    <div>
      <h1 id='header'> Disco </h1>
    </div>

    <div>
    <table id="big">
      <tr>
        <td class="leftdata">
          <img src="../image/Disco.jpg" alt="Disco" width=100% class="img-thumbnail rounded">
        </td>

        <td class="rightdata">
          <h2>&lt; Profile &gt;</h2>
          <ul>
            <li>Gender: Male</li>
            <li>Found year: 2009</li>
            <li>Age: Secret</li>
            <li>Breed: Holy-mix</li>
            <li>Nationality: Taiwan Cat</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td id="inbox">More Photo<br>
        <table>
          <tr>
            <td><a href="../image/disco_1.jpg"><img src="../image/disco_1.jpg" class="more_photo"></a></td>
            <td><a href="../image/disco_2.jpg"><img src="../image/disco_2.jpg" class="more_photo"></a></td>
            <td><a href="../image/disco_3.jpg"><img src="../image/disco_3.jpg" class="more_photo"></a></td>
          </tr>
          <tr>
            <td><a href="../image/disco_4.jpg"><img src="../image/disco_4.jpg" class="more_photo"></a></td>
            <td><a href="../image/disco_5.jpg"><img src="../image/disco_5.jpg" class="more_photo"></a></td>
            <td><a href="../image/disco_6.jpg"><img src="../image/disco_6.jpg" class="more_photo"></a></td>
          </tr>
          <tr>
            <td><a href="../image/disco_7.jpg"><img src="../image/disco_7_mini.jpg" class="more_photo"></a></td>
            <td><a href="../image/disco_8.jpg"><img src="../image/disco_8.jpg" class="more_photo"></a></td>
            <td><a href="../image/disco_9.jpg"><img src="../image/disco_9_mini.jpg" class="more_photo"></a></td>
          </tr>
        </table>
        </td>

        <td class="rightdata">
          <h2>&lt; About &gt;</h2>
          <p>
            Disco is a clingy MAN. (Not a boy) <br>
            He likes to stay with people, to sit with his parents while television time.<br>
            He couldn’t bear any loneliness.<br>
            If he be locked out of your bedroom, he will meows all night long until you open the door.
          </p>
        </td>
      </tr>
    </table>
    </div>

    <div id="mobile" class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12 align-self-center text-center">
          <img src="../image/Disco.jpg" alt="Disco" class="img-thumbnail rounded" width=80%>
        </div>

        <div class="col-10">
          <h2>&lt; Profile &gt;</h2>
          <ul>
            <li>Gender: Male</li>
            <li>Found year: 2009</li>
            <li>Age: Secret</li>
            <li>Breed: Holy-mix</li>
            <li>Nationality: Taiwan Cat</li>
          </ul>
        </div>
      </div>

    <div class="row justify-content-center">
      <div class="col-10">
        <h2>&lt; About &gt;</h2>
        <p>
          Disco is a clingy MAN. (Not a boy) <br>
          He likes to stay with people, to sit with his parents while television time.<br>
          He couldn’t bear any loneliness.<br>
          If he be locked out of your bedroom, he will meows all night long until you open the door.
        </p>
      </div>
    </div>

    <div id="inbox_m" class="row justify-content-center">
        <p> More Photo</p>
        <div class="container-fluid">
          <div class="row no-gutters">
            <div class="col-4 no-gutters"><a href="../image/disco_1.jpg"><img src="../image/disco_1.jpg" class="more_photo"></a></div>
            <div class="col-4 no-gutters"><a href="../image/disco_2.jpg"><img src="../image/disco_2.jpg" class="more_photo"></a></div>
            <div class="col-4 no-gutters"><a href="../image/disco_3.jpg"><img src="../image/disco_3.jpg" class="more_photo"></a></div>
          </div>
          <div class="row no-gutters">
            <div class="col-4 no-gutters"><a href="../image/disco_4.jpg"><img src="../image/disco_4.jpg" class="more_photo"></a></div>
            <div class="col-4 no-gutters"><a href="../image/disco_5.jpg"><img src="../image/disco_5.jpg" class="more_photo"></a></div>
            <div class="col-4 no-gutters"><a href="../image/disco_6.jpg"><img src="../image/disco_6.jpg" class="more_photo"></a></div>
          </div>
          <div class="row no-gutters">
            <div class="col-4 no-gutters"><a href="../image/disco_7.jpg"><img src="../image/disco_7_mini.jpg" class="more_photo"></a></div>
            <div class="col-4 no-gutters"><a href="../image/disco_8.jpg"><img src="../image/disco_8.jpg" class="more_photo"></a></div>
            <div class="col-4 no-gutters"><a href="../image/disco_9.jpg"><img src="../image/disco_9_mini.jpg" class="more_photo"></a></div>
          </div>
        </div>
         <br>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row"><p>           </p></div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
